/** from https://www.w3schools.com/howto/howto_css_login_form.asp */
/* Bordered form */
form { border: 3px solid #f1f1f1; }
/* Full-width inputs */
input[type=text], input[type=password] {
	width: 100%; padding: 12px 20px; margin: 8px 0;
	display: inline-block; border: 1px solid #ccc; box-sizing: border-box; }
/* Set a style for all buttons */
button {
	background-color: #04AA6D; color: white; padding: 14px 20px; margin: 8px 0;
	border: none; cursor: pointer; width: 100%; }
/* Add a hover effect for buttons */
button:hover { opacity: 0.8; }
/* Add padding to containers */
.container { padding: 16px; }
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
